update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000014770' where rps = '13645';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000114771' where rps = '13646';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000214772' where rps = '13647';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000314773' where rps = '13648';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000414774' where rps = '13649';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000514775' where rps = '13652';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000614776' where rps = '13653';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000714777' where rps = '13650';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000814778' where rps = '13651';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '000914779' where rps = '13692';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001014780' where rps = '13691';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001114781' where rps = '13690';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001214782' where rps = '13654';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001314783' where rps = '13655';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001414784' where rps = '13656';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001514785' where rps = '13657';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001614786' where rps = '13658';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001714787' where rps = '13659';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001814788' where rps = '13660';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '001914789' where rps = '13661';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002014790' where rps = '13662';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002114791' where rps = '13663';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002214792' where rps = '13664';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002314793' where rps = '13665';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002414794' where rps = '13666';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002514795' where rps = '13667';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002614796' where rps = '13668';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002714797' where rps = '13669';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002814798' where rps = '13670';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '002914799' where rps = '13671';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003014800' where rps = '13672';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003114801' where rps = '13673';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003214802' where rps = '13674';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003314803' where rps = '13675';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003414804' where rps = '13676';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003514805' where rps = '13677';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003614806' where rps = '13678';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003714807' where rps = '13679';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003814808' where rps = '13680';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '003914809' where rps = '13681';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004014810' where rps = '13682';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004114811' where rps = '13683';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004214812' where rps = '13684';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004314813' where rps = '13685';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004414814' where rps = '13686';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004514815' where rps = '13687';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004614816' where rps = '13688';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004714817' where rps = '13689';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '004814818' where rps = '13693';
update ns.df_docfis set tipo = 5, modelo = 'NES', statusrps = 4, situacao = 2,  emissao = '02/06/2017', numero = '005014819' where rps = '13694';

do
$rps$
declare
  reg_rps record;
begin
  for reg_rps in (select * from ns.df_docfis
                  where rps::integer in (13645, 13646, 13647, 13648, 13649,
                                         13652, 13653, 13650, 13651, 13692,
                                         13691, 13690, 13654, 13655, 13656,
                                         13657, 13658, 13659, 13660, 13661,
                                         13662, 13663, 13664, 13665, 13666,
                                         13667, 13668, 13669, 13670, 13671,
                                         13672, 13673, 13674, 13675, 13676,
                                         13677, 13678, 13679, 13680, 13681,
                                         13682, 13683, 13684, 13685, 13686,
                                         13687, 13688, 13689, 13693, 13694)
                    and tipo = 5 and emissao = '02/06/2017')
  loop
    perform servicos.gerarlancamentofiscalnfse(reg_rps.id);
  end loop;
end;
$rps$;